{% extends "base.html" %}
{% block body  %}
<div class="row clearfix" style="border-top-width:20px;" >
				<div class="col-md-6 column" >
				 <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
					<img weith="350" height="350" src="{{url_for('static', filename='./images/test.png')}}" />
					</div>
				</div>
				</div>

				<div class="col-md-6 column">
				<div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
					<img weith="350" height="350"  src="{{url_for('static', filename='./images/test2.png')}}" />
				</div>
				</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3 class="text-center">
						恭喜你击败了全国<strong>89%</strong>的用户
					</h3>
				</div>
			</div>


{% endblock %}